#avatar-picker-template(style="display:none;")
	#picker-title Configure Your Avatar
	#pickerselection
		#picker-bodies
			.picker-body-wrap
				.picker-body-blue
			.picker-body-wrap
				.picker-body-green
			.picker-body-wrap
				.picker-body-purple
			.picker-body-wrap
				.picker-body-red
			.picker-body-wrap
				.picker-body-yellow
		#picker-eyes
			.picker-select-text Eyes
			.eye-picker-box
			.eye-picker-box
			.eye-picker-box
			#picker-eye-size
				.picker-select-text Size
				.eye-size-box
				.eye-size-box
		#picker-glasses
			.picker-select-text Glasses
			.glasses-box
			.glasses-box
			.glasses-box
			.glasses-box
			.glasses-box-monocle
		#picker-smile
			.picker-select-text Smile
			.smile-box
			.smile-box
			.smile-box
			.smile-box
			.smile-box
		#picker-hat
			.picker-select-text Top
			.hat-box
			.hat-box
			.hat-box
			.hat-box
	#picker-preview You
		#picker-preview-avatar-wrapper
	.dialog-buttons
		button.saveChanges Save
		button.cancelPicker Cancel