#browse-videos-template(style="display:none;")
	ul#browseVideosButtons
		li.youtube-nameholder
			img(src='/images/room/yt-icon.png', id='yt-icon')
			.title Search
		li.channel-history-nameholder
			.title Channel History
		li.likes-nameholder
			.title Liked Videos
	#browseVideosVideosContainer