#browse-videos-template(style="display:none;")
	ul#browseVideosButtons
		li.bv-nameholder#ytnh
			img(src='/images/room/yt-icon.png', id='yt-icon')
			.title Search
		li.bv-nameholder#chnh
			.title Channel History
		li.bv-nameholder#lvnh
			.title Liked Videos
	#browseVideosVideosContainer