#chat-template(style="display:none;")
	.chatContainer
		.chatHeader
			img.chatIcon(src="/images/room/chat-icon-3.png")
			div.chatTitle Chat
		#messages
		form.inputBox
			input(type="text", placeholder="Enter a Message", name="message", AUTOCOMPLETE="OFF")