#chat-template(style="display:none;")
	.chatContainer
		.chatHeader
			img.chatIcon(src="http://i.imgur.com/vVuxT.png")
			div.chatTitle Chat
		#messages
		form.inputBox
			input(type="text", placeholder="Enter a Message", name="message")