#historyCell-template(style="display:none;")
	.videoLog
		img.thumbContainer
		.videoInfo
			.title#videoTitle {{ title }}
			.details
				.time#videoLength {{ length }}
				.score#roomVote Room Vote: {{ percent }}%