#historyCell-template(style="display:none;")
	.video-history-log
		.thumbContainer
			img.HDprev
		.videoInfo
			.title#videoTitle {{ title }}
			.details
				.time#videoLength {{ duration }}
				.score#roomVote Room Vote: {{ percent }}%
			.history-cell-button-container
				.add-history-cell
					select.addToPlaylistFromHistory