#chatcellVideo-template(style="display:none;")
	.videoChatCell
		img.videoChatImg
		.videoChatInfo
			.videoChatNowPlaying Now Playing: 
			.videoChatCellText {{ title }}
		.nowPlayingYTID {{ vidID }}
		.nowPlayingHiddenTitle {{ title }}
		button.chatShare