#playlist-collection-template(style="display:none;")
	ul#playlist-collection-display
		li.nameholder-input
			input#playlist-collection-input(type="text", placeholder="Add playlist",name="newplaylist", AUTOCOMPLETE="OFF")