#playlist-cell-template(style="display:none;")
	img.thumbContainer
	.cellInfo(id='vid_{{ vid_id }}')
		.videoInfo
			.title {{ title }}
			.duration {{ duration }}
		.cellButtons
			button.remove(id ='remove_video_{{ vid_id }}', title = 'Remove Video')
			button.toTheTop(id = 'send_to_top_{{ vid_id }}', title = 'To The Top')
			