#playlist-cell-template-two(style="display:none;")
	img.thumbContainer
	.cellInfo(id='vid_{{ vid_id }}')
		.videoInfo
			.title {{ title }}
			.duration {{ duration }}
		.cellButtons
			button.remove(id ='remove_video_{{ vid_id }}', title = 'Remove Video') 
			button.addToQueue(id = 'add_to_queue_{{ vid_id }}', title = 'Add to Queue')