#playlist-delete-confirmation-template(style="display:none;")
	.dialog-titlebar Are you sure you want to delete {{ playlist_title }}?
	.dialog-body This playlist and all its videos will be deleted.
	.dialog-buttons
		button.deletePlaylist Delete Playlist
		button.cancelDelete Cancel