#playlist-delete-confirmation-template(style="display:none;")
	.dialog-titlebar Delete {{ playlist_title }}?
	.dialog-body This playlist and all its videos will be deleted.
	.dialog-buttons
		button.deletePlaylist Delete Playlist
		button.cancelDelete Cancel