#roomlistCell-template(style="display:none;")
	table#celltemplate-table
		tr.room-row
			td.room-viewers
				.num-viewers {{ viewers }}
				.num-djs {{ numDJs }} / 3 DJs
			td.room-name
				.room-name-container
					.listed-room-name {{ roomname }}
					.true-room-name {{ truename }}
			td.room-history
				.lastPlayedVideoTitle
				ul.room-history-container
			td.room-friends
				.room-friends-container {{ partial_friends }}
				ul.friends-hover-container {{ full_friends }}