#roomlist-template(style="display:none;")
	#room-modal
		#searchbar
			form.roomSearch
				input(type="text", placeholder="Search Rooms",name="search", AUTOCOMPLETE="OFF")
			#clearSearch
		#rooms
			table#roomsTable
				tr.table-header
					th.viewers-hd Viewers
					th.room-name-hd Room Name
					th.room-friends-hd Friends
		#create-room
			input(type="text", placeholder="Room Name", AUTOCOMPLETE="OFF")#CreateRoomName Room Name 
			button#CreateRoom Create Room