#room-template(style="display:none;")
	#room-container
		#test-shit HELLO WORLD
		#video-container
		#people-area
			#meter
				div#video-score
			#video-time
			button#history-button history
			#remote
				#remote-left
					.buttonContainer
						button#vol-up
					.buttonContainer
						button#vol-down
				#remote-right
					.buttonContainer
						button#up-vote
					.buttonContainer
						button#down-vote
				#remote-bottom
					.bottombuttonContainer
						button#mute
					.bottombuttonContainer
						button#rooms
			#dj-area
				button#dj Become a VJ
