#roomlistCell-template(style="display:none;")
tr.room-row
	td.viewers
		.num-viewers {{ viewers }}
		.num-djs {{ numDjs }} DJs
	td.room-name
		.room-name-container
			.listed-room-name {{ roomname }}
			.listed-video-name {{ currentVideoName}}
	td.room-friends {{ friends }}