#room-template(style="display:none;")
	#room-container
		#video-div
		#video-container
		#people-area
			#meter
				div#video-score
			#video-time
			.bottom-user-controls
			#become-dj
				img(src='/images/room/become_dj.png')
			#avatarWrapper_VAL
				img(src='/images/room/robot.png', style='position:absolute')
			#remote-container
				button#remote-pullup
				#remote
					.remote-top
						.side-button-container#vol-buttons
							.buttonContainer
								button#vol-up Vol
									span +
							.buttonContainer
								button#vol-down Vol
									span -
						.side-button-container#vote-buttons 
							.buttonContainer
								button#up-vote
							.buttonContainer
								button#down-vote 
					.remote-bottom
						.bottombuttonContainerwide
							button#mute mute
						.bottombuttonContainerwide
							button#rooms rooms
						.bottombuttonContainerwide
							button#history-button history
			img#tvglowimg(src="/images/room/glow3.png")