#room-template(style="display:none;")
	#room-container
		#video-div
		#video-container
		#people-area
			#meter
				div#video-score
			#video-time
			#become-dj
				img(src='/images/room/become_dj2.png')
				#become-dj-txt Step Up
			#avatarWrapper_VAL
				img(src='/images/room/robot.png')
			#remote-container
				button#remote-pullup
				#remote
					.remote-top
						.side-button-container#vol-buttons
							.buttonContainer
								button#ch-up Ch
									span +
							.buttonContainer
								button#ch-down Ch
									span -
						.side-button-container#vote-buttons 
							.buttonContainer
								button#up-vote
							.buttonContainer
								button#down-vote 
					.remote-bottom
						.vol-container
							.buttonContainer
								button#vol-up +
									span Vol
							.buttonContainer
								button#vol-down Vol
									span -
						.bottombuttonContainerwide
							button#mute mute
						.bottombuttonContainerwide
							button#rooms rooms
						.bottombuttonContainerwide
							button#fullscreen fullscreen 
						.bottombuttonContainerwide
							button#history-button history
			img#tvglowimg(src="/images/room/glow3.png")