#room-template(style="display:none;")
	#room-container
		#video-div
		#video-container
		#people-area
			#meter
				div#video-score
			#video-time
			.bottom-user-controls
				button#history-button history
				button#dj dj videos
			#remote
				.side-button-container
					.buttonContainer
						button#vol-up
					.buttonContainer
						button#vol-down
				.side-button-container 
					.buttonContainer
						button#up-vote
					.buttonContainer
						button#down-vote
				.remote-bottom
					.bottombuttonContainer
						button#mute
					.bottombuttonContainerwide
						button#rooms Rooms