#roomlistCell-template(style="display:none;")
	table#celltemplate-table
		tr.room-row
			td.viewers
				.num-viewers {{ viewers }}
				.num-djs {{ numDJs }} DJs
			td.room-name
				.room-name-container
					.listed-room-name {{ roomname }}
					.true-room-name(style="display: none;") {{ truename }}
					.listed-video-name {{ currentVideoName}}
			td.room-friends {{ friends }}