#roomlist-template(style="display:none;")
	#room-modal
		#searchbar
			form.roomSearch
				input(type="text", placeholder="Search Rooms",name="search", AUTOCOMPLETE="OFF")
			#clearSearch
		#roomsWrapper
			table#roomsTable
				tr.table-header
					th.room-name-hd Channel
					th.room-history-hd Last played
					th.room-friends-hd DJs/ Viewers/ Friends
		#create-room
			input(type="text", placeholder="Room Name", AUTOCOMPLETE="OFF")#CreateRoomName Room Name 
			button#CreateRoom Create Room
			button#hideRoomsList [x] close 
	#modalBG