#searchView-template(style="display:none;")
	#searchBar
		form.inputBox
			input#youtubeInput(type="text", placeholder="Search Videos or Enter a YouTube URL",name="search", AUTOCOMPLETE="OFF")
			#clear-search-container
				#clearsearch
		#previewContainer
	#searchContainer
