#searchCell-template(style="display:none;")
	.searchCellContainer
		img.thumbContainer
		.cellInfo
			.videoInfo
				.title#title {{ title }}
			.cellButtons
				button.addToPlaylist(id ='search_result_{{ vid_id }}') 