#searchCell-template(style="display:none;")
	img.thumbContainer
	.cellInfo
		.videoInfo
			.title#title {{ title }}
			.views#views views
		.cellButtons
			button.addToPlaylist(id ='search_result_{{ vid_id }}') 
			button.previewVideo(id ='search_result_{{ vid_id }}') preview