#searchCell-template(style="display:none;")
	img.thumbContainer
	img.previewVideo(src="/images/room/playpreview.png")
	.cellInfo
		.videoInfo
			.title#title {{ title }}
			.duration {{ duration }}
			.viewCount {{ viewCount }}
				span views
			.author {{ author }}
		.cellButtons
			button.addToPlaylist(id ='search_result_{{ vid_id }}') 
			button.previewVideo(id ='search_result_{{ vid_id }}') preview