#searchCell-template(style="display:none;")
	img.thumbContainer
	img.previewVideo(src="/images/room/playpreview.png")
	.cellInfo
		.videoInfo
			.title#title {{ title }}
			.duration
				{{ duration }}
				span.realDuration {{ realDuration }}
			.viewCount
				{{ viewCount }}
				span.realViewCount {{ realViewCount }}
				span views
			.author {{ author }}