#share-template(style="display:none;")
	#share
		#social
			span#share-text Share:
			button#shareFB(value='FB') FB
			button#shareTwit(value='Twit') Twit
			button#shareEmail(value='Email') Email
		#copy
			#link
			#copy-button-container