#share-template(style="display:none;")
	#share
			.share Share Channel:
			#social
				button.social#copy-button-container
				button.social#shareTwit(value='Twit')
				button.social#shareFB(value='FB')