#share-template(style="display:none;")
	#share
		#social
			span#share-text Share:
			button#shareFB(value='FB')
			button#shareTwit(value='Twit')
			button#shareEmail(value='Email')
		#copy
			#link
			#copy-button-container