#share-template(style="display:none;")
	#share
			.share Share:
			#social
				button.social#copy-button-container Copy URL
				button.social#shareEmail(value='Email') 
				button.social#shareTwit(value='Twit')
				button.social#shareFB(value='FB') 
				
				