#sidebar-template(style="display:none;")
	.sidebarContainer
		.viewBar
			.viewBarHeader
				img(src='/images/room/newicons/playlist-icon.png', id='playlist-icon')
				div#playlistTitle Playlist Manager
		.browse-videos-container
		.videoView#myPlaylist
		#previewContainer