#sidebar-template(style="display:none;")
	.sidebarContainer
		.viewBar
			.playlist
				img(src='/images/room/newicons/playlist-icon.png', id='playlist-icon')
				div#playlistTitle My Playlists
		.videoView#myPlaylist
		#previewContainer