#video-list-cell-template(style="display:none;")
	.videoListCellContainer
		img.thumbContainer
		.cellInfo
			.videoInfo
				.title {{ title }}
			.cellButtons
				button.remove(id ='playlist_video_{{ vid_id }}') 
				button.toTheTop