#surf
	color #8dcaf4
	font-size: 60px
	display inline
h1
	margin-top: -4px
#logo
	font-size: 60px
	margin-top: 40px
#frontdoor
	text-align center
	width 100%
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	color: white
	background: transparent
#fb-login
	background-position left -138px
#fb-auth
	margin-top: 3px
	background-color: transparent
	width: 280px
	height: 46px
	border: none
	background: url('/images/room/fb-connect.png') 50% 50% no-repeat
#fb-auth:hover
	background: url('/images/room/fb-connect-g.png') 50% 50% no-repeat