#surf {
  color: #8dcaf4;
  font-size: 60px;
  display: inline;
}
#logo {
  font-size: 60px;
}
#frontdoor {
  text-align: center;
  width: 100%;
  margin-top: 10%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #000;
  color: #fff;
}
#fb-login {
  background-position: left -138px;
}
body {
  background-color: #000;
}
