#now-playing-container {
  height: 100px !important;
  width: 300px !important;
  background-color: #f00 !important;
}
#now-playing-container #now-playing-video-container      		height: 60px {
  background-color: #00f;
  display: block;
}
#now-playing-container #now-playing-video-container      		height: 60px #now-playing-thumb {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: #008000;
}
#now-playing-container #now-playing-video-container      		height: 60px #now-playing-video-info {
  vertical-align: top;
  display: inline-block;
  height: 60px;
  width: 200px;
}
#now-playing-container #now-playing-video-container      		height: 60px #now-playing-video-info #now-playing-title {
  height: 40px;
  width: 200px;
  background-color: #ff0;
  display: block;
}
#now-playing-container #now-playing-video-container      		height: 60px #now-playing-video-info #now-playing-views {
  height: 20px;
  width: 200px;
  background-color: #800080;
  display: block;
}
#now-playing-container #now-playing-meter-container {
  height: 40px;
  display: block;
  background-color: #f00;
}
#become-dj {
  position: absolute;
  width: 50px;
  height: 55px;
}
div #preview-container {
  display: none;
  height: 195;
}
div#loadingScreen {
  background-color: color;
}
div#frontdoor {
  background: transparent;
  display: none;
}
div#outer {
  display: none;
}
body {
  background-image: url("/images/room/bgtile_black.png");
}
#outer {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  weight: bold;
  font-size: 25px;
  margin: auto;
  height: 800px;
  width: 960px;
}
#outer #header {
  height: 40px;
  width: 960px;
  display: block;
}
#outer #actionBar {
  height: 40px;
  width: 960px;
  display: block;
  background-color: #000;
  background-image: url("/images/room/actionbar.png");
}
#outer #actionBar #roomInfo {
  height: 40px;
  vertical-align: middle;
}
#outer #actionBar #roomInfo #room-name,
#outer #actionBar #roomInfo video-name {
  display: inline-block;
  color: #000;
}
#outer #actionBar #roomInfo #room-name {
  width: 300px;
}
#outer #actionBar #roomInfo #video-name {
  margin-top: 3px;
}
#outer #coolshit {
  height: 700px;
  width: 960px;
  background-color: transparent;
  display: block;
}
#outer #coolshit #funroom {
  float: left;
  width: 660px;
}
#outer #coolshit #right-side {
  float: right;
  width: 300px;
}
#outer #coolshit #right-side .sidebarContainer {
  display: block;
  width: 300px;
  height: 413px;
}
#outer #coolshit #right-side .sidebarContainer .viewBar {
  height: 25px;
}
#outer #coolshit #right-side .sidebarContainer .viewBar .playlist,
#outer #coolshit #right-side .sidebarContainer .viewBar .search {
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center !important;
  width: 150px !important;
  height: 36px !important;
}
#outer #coolshit #right-side .sidebarContainer .viewBar .search {
  border-top-right-radius: 2px !important;
  -moz-border-top-right-radius: 2px !important;
  -webkit-border-top-right-radius: 2px !important;
}
#outer #coolshit #right-side .sidebarContainer .viewBar .playlist {
  border-top-left-radius: 2px !important;
  -moz-border-top-left-radius: 2px !important;
  -webkit-border-top-left-radius: 2px !important;
  float: left;
}
#outer #coolshit #right-side .sidebarContainer .viewBar .search {
  float: right;
}
#outer #coolshit #right-side .sidebarContainer .viewBar .active {
  color: #fff;
  background-color: #34c8ff;
}
#outer #coolshit #right-side .sidebarContainer #search-view #searchContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 340px;
  width: 300px;
}
#outer #coolshit #right-side .sidebarContainer #search-view #searchBar .inputBox {
  background-color: #808080;
  width: 300px;
  height: 36px;
  text-indent: 5px;
  font-size: 14px;
}
#outer #coolshit #right-side .sidebarContainer #search-view #searchBar .inputBox input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 5px;
  width: 290px;
  height: 26px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #e7e7e7;
  text-indent: 4px;
}
#outer #coolshit #right-side .sidebarContainer #search-view #searchBar .inputBox #clear-search-container {
  height: 34px;
  width: 10px;
  display: inline-block;
  vertical-align: middle;
}
#outer #coolshit #right-side .sidebarContainer #search-view #searchBar .inputBox #clear-search-container #clearsearch {
  margin-top: 9px;
  vertical-align: center;
  align: middle;
  width: 17px;
  height: 17px;
  background: url("/images/room/clearsearch.png") 50% 50% no-repeat;
}
div.chatContainer {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 300px;
  height: 290px;
  max-width: 300px;
  max-height: 290px;
  display: block;
}
div.chatContainer div.chatHeader {
  width: 300px;
  height: 30px;
  background-color: #808080;
}
div.chatContainer div.chatHeader img.chatIcon {
  display: inline-block;
  width: 27px;
  height: 24px;
  margin-top: 4px;
  margin-left: 5px;
}
div.chatContainer div.chatHeader div.chatTitle {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  text-indent: 10px;
  vertical-align: top;
  display: inline-block;
  font-weight: 500;
  color: #fff;
  height: 18px;
  width: 36px;
}
div.chatContainer #messages {
  background-color: #373737;
  border: none;
  color: #000;
  height: 221px;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.chatContainer #messages div.messageContainer {
  padding: 2px 4px;
  min-height: 20px;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
  width: 274px;
  max-width: 274px;
  font-size: 14px;
  color: #d4d4d4;
}
div.chatContainer #messages div.messageContainer span {
  padding: 2px 0px 2px;
  margin-right: 3px;
  font-weight: bold;
  display: inline-block;
}
div.chatContainer #messages div.messageContainer div {
  padding-top: 2px;
  padding-bottom: 2px;
  display: inline;
}
div.chatContainer #messages div.messageContainer:nth-child(odd) {
  background-color: #313131;
}
div.chatContainer form.inputBox {
  background-color: #808080;
  height: 36px;
  text-indent: 7px;
  font-size: 14px;
}
div.chatContainer form.inputBox input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 5px;
  width: 286px;
  height: 26px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #e7e7e7;
  text-indent: 4px;
}
div.historyContainer {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  height: 350px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid #000;
}
div.historyContainer .roomInfo {
  display: block;
  height: 25px;
  width: 300px;
  vertical-align: middle;
  margin-left: 3px;
}
div.historyContainer .roomInfo .createdBy {
  font-weight: bold;
}
div.historyContainer .roomInfo .createdBy span.historyUser {
  font-weight: 300;
}
div.historyContainer .roomDescription {
  margin-left: 3px;
  margin-right: 3px;
  display: block;
  height: 35px;
  font-size: 12px;
}
div.historyContainer .history {
  height: 290px;
  width: 300px;
  background-color: #fff;
}
div.historyContainer .history .historyTitle {
  height: 18px;
  margin-left: 3px;
}
div.historyContainer .history .videoHistory {
  height: 272px;
  background-color: #808080;
  overflow-x: hidden;
  overflow-y: scroll;
}
.videoLog {
  width: 285px;
  height: 95px;
}
.videoLog .thumbContainer {
  float: left;
  width: 58px;
  height: 46px;
  margin-left: 7px;
  margin-top: 7px;
}
.videoLog .videoInfo {
  float: right;
  width: 197px;
  height: 75px;
}
.videoLog .videoInfo .title {
  width: 185px;
  height: 17px;
  font-weight: bold;
  font-size: 15px;
}
.videoLog .videoInfo .details {
  height: 33px;
  font-size: 12px;
  width: 185px;
}
.videoLog .videoInfo .details .time,
.videoLog .videoInfo .details .score {
  height: 14px;
}
.playlistContainer {
  height: 400px;
  width: 300px;
  border: 1px solid #000;
}
.searchCellContainer {
  width: 285px;
  height: 60px;
}
.searchCellContainer .thumbContainer {
  float: left;
  width: 58px;
  height: 46px;
  margin-left: 7px;
  margin-top: 7px;
}
.searchCellContainer .cellInfo {
  float: right;
  width: 210px;
  height: 60px;
}
.searchCellContainer .cellInfo .videoInfo {
  float: left;
  width: 180px;
  height: 60px;
}
.searchCellContainer .cellInfo .videoInfo .title {
  margin-top: 5px;
  margin-left: 5px;
  width: 150px;
  height: 17px;
  font-weight: bold;
  font-size: 12px;
}
.searchCellContainer .cellInfo .cellButtons {
  float: right;
  width: 30px;
  height: 60px;
}
.searchCellContainer .cellInfo .cellButtons .addToPlaylist {
  background-color: transparent;
  margin-left: -5px;
  margin-top: 15px;
  border: none;
  cursor: point;
  width: 30px;
  height: 30px;
  display: block;
  background: url("/images/room/add_small.png");
}
.searchCellContainer .cellInfo .cellButtons .addToPlaylist:hover {
  background-color: #000;
  background: url("/images/room/add_small_hover.png");
}
.searchCellContainer .cellInfo .cellButtons button.previewVideo {
  background: transparent;
  margin-left: -22px;
  margin-bottom: 2px;
  border: none;
}
.searchCellContainer .cellInfo .cellButtons button.previewVideo:hover {
  color: #42e841;
}
.searchCellContainer:nth-child(odd) {
  background-color: #313131;
}
#room-container {
  width: 660px;
  height: 700px;
  background: url("/images/room/room.png");
}
#room-container #video-container {
  display: block;
  width: 660px;
  height: 400px;
  background-color: #f00;
}
#room-container #people-area {
  display: block;
  width: 660px;
  height: 270px;
  position: absolute;
}
#room-container #people-area .bottom-user-controls {
  position: absolute;
  top: 710px;
  height: 25px;
  width: 160px;
}
#room-container #people-area .bottom-user-controls button#dj {
  height: 25px;
  width: 80px;
  display: inline-block;
  vertical-align: bottom;
  color: #000;
  margin-top: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: url("/images/room/actionbar.png");
}
#room-name,
#roomInfo {
  float: left;
  width: 460px;
  height: 40px;
  text-indent: 10px;
}
#room-name #room-name,
#roomInfo #room-name {
  margin-top: 3px;
}
#share,
#shareBar {
  float: right;
  width: 500px;
  height: 40px;
  color: #000;
}
#share #social,
#shareBar #social {
  margin-top: 3px;
  float: left;
  width: 250px;
  height: 40px;
}
#share #social #share-text,
#shareBar #social #share-text {
  width: 50px;
  margin-right: 10px;
}
#share #copy,
#shareBar #copy {
  margin-top: 3px;
  float: right;
  width: 250px;
  height: 40px;
}
#share #copy #link,
#shareBar #copy #link {
  vertical-align: top;
  display: inline-block;
}
#share #copy #link input,
#shareBar #copy #link input {
  margin-top: 4px;
  border: 1px solid #777;
  vertical-align: top;
  height: 18px;
  margin-left: 2px;
  width: 60px;
  margin-right: 10px;
}
#share #copy #copy-button-container,
#shareBar #copy #copy-button-container {
  display: inline-block;
  height: 30px;
  width: 50px;
}
#share #copy #copy-button-container #copy-button,
#shareBar #copy #copy-button-container #copy-button {
  text-indent: 2px;
  font-size: 20px;
  height: 25px;
  width: 50px;
  display: inline-block;
  vertical-align: bottom;
  color: #000;
  margin-top: 2px;
  background-color: #ececec;
  background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#dbdbdb));
  background: -moz-linear-gradient(top, #ececec, #dbdbdb);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#shareFB,
#shareTwit,
#shareEmail {
  vertical-align: middle;
  margin-right: 4px;
  cursor: pointer;
  border: none;
  height: 31px;
  width: 31px;
}
#shareFB {
  background: url("http://i.imgur.com/1OB6R.png");
}
#shareTwit {
  background: url("http://i.imgur.com/pmbBg.png");
}
#shareEmail {
  background: url("http://i.imgur.com/mz8Sc.png");
}
button.playlist,
button.playlist.active,
button.search,
button.search.active {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  weight: bold;
  font-size: 12px;
  color: #808080;
}
.videoView {
  color: #d4d4d4;
  height: 379px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #373737;
}
.tipsy-inner {
  z-index: 666;
}
#remote-container {
  height: 190px !important;
  width: 104px !important;
  float: right;
  display: block;
  margin-top: 180px;
  margin-right: 5px;
  text-align: center;
}
#remote-container button#remote-pullup {
  border: none;
  height: 10px;
  width: 30px;
  background: url("/images/room/pullup.png") 50% 50% no-repeat;
  margin-bottom: 3px;
}
#remote-container #remote {
  height: 180px !important;
  width: 104px !important;
  background: url("/images/room/remote.png") 50% 50% no-repeat;
}
#remote-container #remote .remote-top {
  width: 104px;
  height: 74px;
  display: block;
}
#remote-container #remote .side-button-container {
  margin-top: 10px;
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 70px;
  text-align: center;
  display: block;
}
#remote-container #remote #vol-buttons {
  float: left;
  padding-left: 12px;
}
#remote-container #remote #vote-buttons {
  float: right;
  padding-right: 12px;
}
#remote-container #remote .remote-bottom {
  display: block;
  width: 100px;
  height: 90px;
  text-align: center;
}
#vol-up,
#vol-down {
  font-size: 10px;
}
.buttonContainer,
.bottombuttonContainer,
.bottombuttonContainerwide {
  border: none;
  background-color: #818181;
  background: -webkit-gradient(linear, left top, left bottom, from(#818181), to(#4a4a4a));
  border: none;
  height: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
#up-vote,
#down-vote,
#vol-up,
#vol-down,
#rooms,
#history-button,
#mute {
  background: transparent;
  height: 25px;
  width: 35px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  color: #e5e5e5;
}
.buttonContainer {
  margin: 3px;
  display: inline-block;
  width: 35px;
button
  background: transparent;
}
.buttonContainer button#up-vote {
  background: url("/images/room/upvote.png") 50% 50% no-repeat;
}
.buttonContainer button#down-vote {
  background: url("/images/room/downvote.png") 50% 50% no-repeat;
}
.bottombuttonContainer {
  margin-top: 5px;
  margin-left: 35px;
  width: 30px;
}
.bottombuttonContainerwide {
  margin-top: 7px;
  margin-left: 20px;
  width: 60px;
}
.bottombuttonContainerwide #rooms,
.bottombuttonContainerwide #mute,
.bottombuttonContainerwide #history-button {
  width: 60px;
  background: transparent;
}
#room-modal {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  overflow-y: none;
  overflow-x: none;
  width: 600px;
  height: 360px;
  border: 1px solid #000;
}
#room-modal #searchbar {
  background: url("http://i.imgur.com/4QNd7.png") 50% 50% no-repeat;
  display: block;
  height: 50px;
  background-color: #666;
}
#room-modal #searchbar form.roomSearch {
  display: inline-block;
  width: 560px;
  height: 40px;
  text-indent: 45px;
  color: #666;
}
#room-modal #searchbar form.roomSearch input {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #fff;
  font-size: 16px;
  margin-top: 12px;
  width: 240px;
  height: 25px;
  border: 0;
  outline: 0;
  background: transparent;
}
#room-modal #searchbar #clearSearch {
  padding-bottom: 8px;
  vertical-align: bottom;
  background: url("http://i.imgur.com/cOliI.png") 50% 50% no-repeat;
  height: 25px;
  width: 26px;
  background-color: transparent;
  display: inline-block;
}
#room-modal #rooms {
  width: 600px;
  height: 310px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#room-modal #rooms table#roomsTable {
  width: 590px;
  border-collapse: collapse;
}
#room-modal #rooms table#roomsTable tr.table-header {
  background-color: #000;
  color: #fff;
  height: 30px;
}
#room-modal #rooms table#roomsTable tr.table-header th.viewers-hd {
  width: 50px;
  padding: 6px;
}
#room-modal #rooms table#roomsTable tr.table-header th.room-name-hd,
#room-modal #rooms table#roomsTable tr.table-header th.room-friends-hd,
#room-modal #rooms table#roomsTable tr.table-header th.viewers-hd {
  border-right: 1px solid #666;
}
#room-modal #rooms table#roomsTable tr.room-row {
  color: #fff;
  height: 60px;
  cursor: pointer;
}
#room-modal #rooms table#roomsTable tr.room-row td {
  border-right: 1px solid #666;
}
#room-modal #rooms table#roomsTable tr.room-row td .num-viewers,
#room-modal #rooms table#roomsTable tr.room-row td .num-djs {
  font-weight: bold;
  text-align: center;
}
#room-modal #rooms table#roomsTable tr.room-row td .num-viewers {
  padding-top: 4px;
  font-size: 25px;
  height: 35px;
}
#room-modal #rooms table#roomsTable tr.room-row td .num-djs {
  font-size: 14px;
  height: 25px;
}
#room-modal #rooms table#roomsTable tr.room-row td .room-name-container .listed-room-name,
#room-modal #rooms table#roomsTable tr.room-row td .room-name-container .listed-video-name {
  text-indent: 8px;
  display: block;
  margin-bottom: 4px;
}
#room-modal #rooms table#roomsTable tr.room-row td .room-name-container .listed-room-name {
  font-size: 16px;
}
#room-modal #rooms table#roomsTable tr.room-row td .room-name-container .listed-video-name {
  font-size: 12px;
}
#room-modal #rooms table#roomsTable tr.room-row:nth-child(odd) {
  background-color: #ededed;
  color: #000;
}
#video-div {
  width: 660px;
  height: 413px;
  background: url("/images/room/tv.png") 50% 50% no-repeat;
  z-index: 1;
}
#YouTubePlayer {
  padding-left: 10px;
  position: absolute;
  top: 60px;
}
#top-video-cell {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  height: 200px;
  width: 285px;
  border: 1px solid #000;
}
#top-video-cell #top-video-preview {
  float: left;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 73px;
  width: 120px;
  background: #000;
  display: inline-block;
}
#top-video-cell #top-video-info {
  float: right;
  background-color: #ffa;
  margin: 6px 6px 6px 0px;
  display: inline-block;
  height: 73px;
  width: 147px;
}
div#top-video-name,
font-size: 16px,
background-color: green,
#top-video-uploader {
  background-color: #00f;
}
#top-video-time {
  display: inline-block;
  background-color: #008000;
}
#top-video-views {
  background-color: #000;
}
#video-list {
  height: 379px;
  max-height: 379px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -1;
}
#video-list .videoListCellContainer:nth-child(odd) {
  background-color: #313131;
}
#video-list .videoListCellContainer {
  width: 285px;
  height: 60px;
}
#video-list .videoListCellContainer .thumbContainer {
  float: left;
  width: 58px;
  height: 46px;
  margin-left: 7px;
  margin-top: 7px;
}
#video-list .videoListCellContainer .cellInfo {
  float: right;
  width: 210px;
  height: 60px;
}
#video-list .videoListCellContainer .cellInfo .videoInfo {
  float: left;
  width: 180px;
  height: 60px;
}
#video-list .videoListCellContainer .cellInfo .videoInfo .title {
  margin-top: 5px;
  margin-left: 5px;
  width: 150px;
  height: 17px;
  font-weight: bold;
  font-size: 12px;
}
#video-list .videoListCellContainer .cellInfo .cellButtons {
  width: 30px;
  height: 60px;
  float: right;
}
#video-list .videoListCellContainer .cellInfo .cellButtons .remove,
#video-list .videoListCellContainer .cellInfo .cellButtons .remove:hover {
  width: 30px;
  height: 30px;
  margin-left: -3px;
  border: none;
  cursor: point;
  display: block;
  margin-right: 1px;
  background: url("/images/room/remove.png") 50% 50% no-repeat;
}
#video-list .videoListCellContainer .cellInfo .cellButtons .remove:hover {
  background: url("/images/room/remove_hover.png") 50% 50% no-repeat;
}
#video-list .videoListCellContainer .cellInfo .cellButtons .toTheTop,
#video-list .videoListCellContainer .cellInfo .cellButtons .toTheTop:hover {
  border: none;
  cursor: points;
  width: 25px;
  height: 25px;
  display: block;
  background: url("/images/room/to_the_top.png") 50% 50% no-repeat;
}
#video-list .videoListCellContainer .cellInfo .cellButtons .toTheTop:hover {
  background: url("/images/room/to_the_top_hover.png") 50% 50% no-repeat;
}
#YouTubePlayerTwo {
  margin-top: 0px;
  margin-left: -1px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
  position: absolute;
  top: 30px;
  background-color: #fff;
  margin-left: -100px;
  margin-top: 50px;
  width: 200px !important;
  height: 238px !important;
  list-style-type: none;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li {
  margin-left: -40px;
  padding: 3px;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all li:hover {
  background-color: #3c6ec7;
  color: #fff;
}
#preview-container {
  border: 1px solid #808080;
  height: 202px;
}
#close-preview-player {
  float: right;
  background: transparent;
}
#close-preview-player button.hidePlayer {
  background: transparent;
  border: none;
  color: #808080;
}
#close-preview-player button.hidePlayer:hover {
  color: #000;
}
.default {
  position: absolute;
}
.defaultSmile1 {
  margin-top: 45px;
  margin-left: 10px;
}
.defaultSmile2 {
  margin-top: 48px;
  margin-left: 14px;
}
.defaultSmile3 {
  margin-top: 33px;
  margin-left: 9px;
}
.defaultSmile4 {
  margin-top: 47px;
  margin-left: 10px;
}
.defaultSmile5 {
  margin-top: 50px;
  margin-left: 8px;
}
.smiley {
  display: none;
  position: absolute;
}
.upSmile1 {
  margin-top: 45px;
  margin-left: 10px;
}
.upSmile2 {
  margin-top: 43px;
  margin-left: 14px;
}
.upSmile3 {
  margin-top: 36px;
  margin-left: 9px;
}
.upSmile4 {
  margin-top: 47px;
  margin-left: 10px;
}
.upSmile5 {
  margin-top: 50px;
  margin-left: 8px;
}
.getOff {
  cursor: pointer;
  position: absolute;
  background: #34c9ff;
  font-size: 14px;
  padding: 3px;
  text-align: center;
  width: 82px;
  margin-top: 40px;
}
#tvglowimg {
  margin-top: 180px;
  margin-left: 98px;
  position: absolute;
}
