div.chatContainer {
  background-color: #000;
  width: 300px;
  height: 225px;
  max-width: 300px;
  max-height: 225px;
}
div.chatContainer div.chatHeader {
  width: 300px;
  height: 30px;
  background-color: #808080;
}
div.chatContainer div.chatHeader img.chatIcon {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}
div.chatContainer div.chatHeader div.chatTitle {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  color: #fff;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 50px;
  width: 36px;
}
div.chatContainer div.messages {
  height: 165px;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.chatContainer form.inputBox {
  background-image: url("http://i.imgur.com/SWiIL.png");
  height: 40px;
  text-indent: 30px;
}
div.chatContainer form.inputBox input {
  margin-top: 12px;
  width: 240px;
  height: 14px;
  border: 0;
  outline: 0;
  background: transparent;
}
div.messageContainer {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 20px;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
  width: 285px;
  border: 1px solid #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
}
div.messageContainer span {
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  display: inline-block;
}
div.messageContainer div {
  padding-top: 2px;
  padding-bottom: 2px;
  display: inline;
}
div.historyContainer {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  height: 350px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ffa;
  border: 1px solid #000;
}
div.historyContainer .roomInfo {
  display: block;
  height: 25px;
  width: 300px;
  vertical-align: middle;
  margin-left: 3px;
}
div.historyContainer .roomInfo .createdBy {
  font-weight: bold;
}
div.historyContainer .roomInfo .createdBy span.historyUser {
  font-weight: 300;
}
div.historyContainer .roomDescription {
  margin-left: 3px;
  margin-right: 3px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: block;
  height: 35px;
  font-size: 12px;
}
div.historyContainer .history {
  height: 290px;
  width: 300px;
  background-color: #fff;
}
div.historyContainer .history .historyTitle {
  height: 18px;
  margin-left: 3px;
}
div.historyContainer .history .videoHistory {
  height: 272px;
  background-color: #808080;
  overflow-x: hidden;
  overflow-y: scroll;
}
.videoLog {
  width: 285px;
  height: 95px;
}
.videoLog .thumbContainer {
  float: left;
  width: 75px;
  height: 75px;
}
.videoLog .videoInfo {
  float: right;
  width: 197px;
  height: 75px;
}
.videoLog .videoInfo .title {
  width: 185px;
  height: 17px;
  font-weight: bold;
  font-size: 15px;
}
.videoLog .videoInfo .details {
  height: 33px;
  font-size: 12px;
  width: 185px;
}
.videoLog .videoInfo .details .time {
  height: 14px;
}
.videoLog .videoInfo .details .score {
  height: 14px;
}
.sidebarContainer {
  width: 300px;
  height: 425px;
  border: 1px solid #000;
}
.sidebarContainer .viewBar {
  width: 300px;
  height: 25px;
}
.sidebarContainer .viewBar .playlist {
  text-align: center;
  width: 150px;
  height: 25px;
  float: left;
}
.sidebarContainer .viewBar .search {
  text-align: center;
  width: 150px;
  height: 25px;
  float: right;
}
.sidebarContainer .videoView {
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.playlistContainer {
  height: 400px;
  width: 300px;
  border: 1px solid #000;
}
.playlistCellContainer {
  width: 285px;
  height: 60px;
  border: 1px solid #000;
}
.playlistCellContainer .thumbContainer {
  float: left;
  width: 75px;
  height: 60px;
}
.playlistCellContainer .cellInfo {
  float: right;
  width: 210px;
  height: 60px;
}
.playlistCellContainer .cellInfo .videoInfo {
  background-color: #808080;
  float: left;
  width: 180px;
  height: 60px;
}
.playlistCellContainer .cellInfo .videoInfo .title {
  width: 150px;
  height: 17px;
  font-weight: bold;
  font-size: 15px;
}
.playlistCellContainer .cellInfo .cellButtons {
  float: right;
  width: 30px;
  height: 60px;
  background-color: #00f;
}
.playlistCellContainer .cellInfo .cellButtons .remove {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #f00;
}
.playlistCellContainer .cellInfo .cellButtons .toTheTop {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #00f;
}
