body
	width: 100%
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	background-color: yellow
	color: white

h1
	font-size: 20px
	margin-bottom: -15px

#actionbar
	width: 960px
	min-height: 40px
	display: block
	background-image: url('http://i.imgur.com/Dy0Cr.png')
	position: absolute

a
	color: #00b7ff

#room
	padding 45px
	width: 660px
	display: inline-block
	background-color: blue
	min-height: 700px

#heading
	width: 960px
	display: block
	min-height: 60px
	background-color: black

#content
	width: 960px
	background-color: black
	min-height: 800px
	margin-top: 50px