
//Chat Box
div.chatContainer
	background-color: black
	width: 300px
	height: 225px
	max-width: 300px
	max-height: 225px
	div.chatHeader
		width: 300px
		height: 30px
		background-color: gray
		img.chatIcon
			display: inline-block
			margin-top: 5px
			margin-left: 5px
		div.chatTitle
			font-family: Helvetica, Arial, "Lucida Grande", sans-serif
			font-weight: 500
			color: white
			height: 18px
			position: absolute
			top: 15px
			left: 50px
			width: 36px
	div.messages
		height: 165px
		overflow-y: scroll
		overflow-x: hidden
	form.inputBox
		background-image: url('http://i.imgur.com/SWiIL.png')
		height: 40px
		text-indent: 30px
		input
			margin-top: 12px
			width: 240px
			height: 14px
			border: 0
			outline: 0
			background: transparent


//Chat Cell
div.messageContainer
	padding-left: 4px
	padding-right: 4px
	padding-top: 2px
	padding-bottom: 2px
	min-height: 20px
	height: auto
	overflow-x: visible;
	overflow-y: visible;
	width: 270px
	border: 1px solid black
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-size: 14px
	span
		padding-top: 2px
		padding-bottom: 2px
		font-weight: bold
		display: inline-block
	div
		padding-top: 2px
		padding-bottom: 2px
		display: inline

